{% extends 'email_alerts/email_base.html' %}
{% load humanize %}
{% load template_extras %}
{% block inner_content %}
<div class="xerdeX_envelope">
  <p style="margin-bottom: 2em; font-weight: bold;">
    Hi {{ user_first_name }},
  </p>
  <p style="margin-bottom: 1em;">
    Your {{ purpose }} savings is having issues getting started.
  </p>
  <p style="margin-bottom: 1em;">
    This {{ savings_type|title }} savings plan was scheduled to have ₦{{ amount|convert_kobo_to_naira|intcomma }} added to it.
  </p>
  <p style="margin-bottom: 1em;">
    However, attempts to charge your card have failed.
  </p>
  <p style="margin-bottom: 1em;">
    Kindly take a look at the savings plan, to add money to it.
  </p>

  <p style="margin-top: 3em;">
    Love,<br />
    The Tudo team
  </p>
</div>
{% endblock inner_content %}
