{% extends 'email_alerts/email_base.html' %} {% block inner_content %}
<div class="xerdeX_envelope">
  <p style="margin-bottom: 2em; font-weight: bold;">
    Hi {{ user_first_name }},
  </p>
  <p style="margin-bottom: 1em;">
      {% if number_of_weeks == "one" %}
        It’s been {{ number_of_weeks }} long hard week without you.
      {% else %}
        It’s been {{ number_of_weeks }} long hard weeks without you.
      {% endif %}
  </p>
  <p style="margin-bottom: 1em;">
    We can’t help but wonder what went wrong. Tudo is really lonely without you
    and we really can’t wait to have you back.
  </p>
  <p style="margin-bottom: 1em;">
    Please
    <a class="mobile-link" href="{{ domain }}/login">
      login to your Tudo account
    </a>
    when you can and continue enjoying the endless possibilities on Tudo 💙.
  </p>
  <p style="margin-bottom: 1em;">
    Feel free to contact support if you need any help.
  </p>
  <p style="margin-top: 3em;">
    Love,<br />
    The Tudo team
  </p>
</div>
{% endblock inner_content %}
