{% extends 'email_alerts/email_base.html' %}
{% load humanize %}
{% load template_extras %}
{% block inner_content %}
      <div class="xerdeX_envelope">
        <p style="margin-bottom: 2em; font-weight: bold;">
          Hi {{ user_first_name }},
        </p>
        <p style="margin-bottom: 1em;">
          You have successfully created a new Tudo list.
        </p>
        <p style="margin-bottom: 2em;">
        {% if tudo_list|length > 1 %}
          Details of your Tudo goals are shown below.
        {% else %}
          Details of your Tudo goal are shown below.
        {% endif %}
        </p>
        <table style="border-radius: 0.4em; border-spacing: 0; border: 0.05em solid #E8EDFF; font-size: 0.8em; font-weight: bold; padding-bottom: 2em; margin-bottom: 2em;">
          <thead style="background-color: #F6F7FF; color: #9AA0BA;">
            <tr>
              <td style="padding: 0em 2.5em; height: 3.5em; width: 9em;">My Tudo Goal</td>
              <td style="padding: 0em 2.5em; height: 3.5em; width: 9em; text-align: right;">Goal Amount</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2"><span style="display:inline-block; height: 2em;"></span></td>
            </tr>
            {% for tudo in tudo_list %}
              <tr style="border-bottom: 3em dashed #EAEEFF;">
                <td style="padding: 0 2em; height: 3.5em; color: #9AA0BA;">
                  {{ tudo.goal_name }}
                </td>
                <td style="padding: 0 2em; height: 3.5em; color: #859CFB; text-align: right;">
                  {{ tudo.target_amount|convert_kobo_to_naira|intcomma }} {{ tudo.currency }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p style="margin-bottom: 3em;">
          Goodluck smashing those goals!💪
        </p>
      </div>
{% endblock inner_content %}
