{% extends 'email_alerts/base.html' %}
{% block inner_content %}
  <tbody>
      <tr>
      <td>
        <h3 class="main__greet-text">Hi {{ user_first_name }}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <p class="mb-20">
          You recently requested for a password reset for your Tudo
          account.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <strong>
            This password reset is only valid for the next 24 hours.
          </strong>
        </p>
      </td>
    </tr>
    <br>
    <tr>
      <td>
        <a class="link-button__default link-button__accept" style="margin-top: 0px !important" href="{{ reset_link }}">
          Reset Your Password
        </a>
      </td>
    </tr>
  </tbody>
{% endblock inner_content %}
