{% extends 'email_alerts/email_base.html' %} {% block inner_content %}
<div class="xerdeX_envelope">
  <p style="margin-bottom: 2em; font-weight: bold;">
    Hi {{ user_first_name }},
  </p>
  <p style="margin-bottom: 1em;">
    Your top up was successful.
  </p>
  <p style="margin-bottom: 1em;">
    Tudo has received your payment of N{{ topup_amount }} and it has been added
    to your savings plan.
  </p>
  <p style="margin-bottom: 1em;">
    Details of this transaction are shown below: (Transaction details: ref
    number, date, card, amount etc).
  </p>
  <p style="margin-bottom: 1em;">
    Feel free to contact support if you need any help.
  </p>
</div>
{% endblock inner_content %}
