{% extends 'email_alerts/email_base.html' %}
{% load humanize %}
{% load template_extras %}
{% block inner_content %}
<div class="xerdeX_envelope">
  <p style="margin-bottom: 2em; font-weight: bold;">
    Hi {{ user_first_name }},
  </p>
  <p style="margin-bottom: 1em;">
    Your {{ purpose }} savings has successfully started today.
  </p>
  <p style="margin-bottom: 1em;">
    This {{ savings_type|title }} savings plan now has ₦{{ amount|convert_kobo_to_naira|intcomma }} in it.
  </p>
  <p style="margin-bottom: 1em;">
    {% if savings_type == "periodic" %}
        ₦{{ amount|convert_kobo_to_naira|intcomma }} will be contributed to this savings {{ frequency }}.
    {% elif savings_type == "targeted" %}
        You now have ₦{{ remaining_amount|convert_kobo_to_naira|intcomma }} left to meet the target of N{{ target_amount|convert_kobo_to_naira|intcomma }}.
    {% elif savings_type == "locked" %}
        ₦{{ amount|convert_kobo_to_naira|intcomma }} will be locked in that savings until {{ maturity_date|format_date }}.
    {% endif %}
  </p>
  <p style="margin-bottom: 1em;">
    Keep saving to a brighter future!
  </p>

  <p style="margin-top: 3em;">
    Love,<br />
    The Tudo team
  </p>
</div>
{% endblock inner_content %}
