{% extends 'email_alerts/base.html' %} 
{% block inner_content %}
  <tbody>
    <tr>
        <td>
          <h3 class="main__greet-text">Hi {{ user_first_name }}</h3>
        </td>
    </tr>
    <tr>
        <td>
          <p style="margin-bottom: 1em;">
            Welcome to Tudo! 🎉🎈🍾.
          </p>
        </td>
    </tr>
    <tr>
        <td>
          <p style="margin-bottom: 1em;">
            We’re really happy to have you here and we can’t wait for you to experience the endless benefits of being here.
          </p>
        </td>
    </tr>
    <tr>
        <td>
          <p style="margin-bottom: 1em;">
            Our goal is to make it easier and faster for you to achieve your goals with absolutely no stress!
          </p>
        </td>
    </tr>
    <tr>
        <td>
          <p style="margin-bottom: 1em;">
            We know you have some goals you’ll like to achieve quickly. New phone? Trip to Santorini?
          </p>
          <p style="margin-bottom: 1em;">
            Don’t worry we’ve got you covered!
          </p>
          <p style="margin-bottom: 1em;">
            With Tudo, you can achieve those goals faster!
          </p>
          <p style="margin-bottom: 1em;">
            <b>Next Steps</b>
            <ul style="color: #7594fb;">
              <li>Create your personal or group goals</li>
              <li>Set a goal target for your goal</li>
              <li>Share or invite others to join and contribute towards your goals</li>
            </ul>
          </p>
        </td>
    </tr>
  </tbody>
{% endblock inner_content %}
