{% extends 'email_alerts/email_base.html' %} {% block inner_content %}
<div class="xerdeX_envelope">
  <p style="margin-bottom: 2em; font-weight: bold;">
    Congratulations {{ user_first_name }},
  </p>
  <p style="margin-bottom: 1em;">
        {% if reward_points == 1 %}
          You have earned {{ reward_points }} point!
        {% else %}
          You have earned {{ reward_points }} points!
        {% endif %}

  </p>
  <p style="margin-bottom: 1em;">
    Your friend {{ invitee_first_name }} just joined Tudo using your invite
    code.
  </p>
  <p style="margin-bottom: 1em;">
    We see you’re spreading the Tudo gospel and we appreciate your good work!
  </p>
  <p style="margin-bottom: 1em;">
    Keep it up and keep earning those points!💪
  </p>
  <p style="margin-top: 3em;">
    Love,<br />
    The Tudo team
  </p>
</div>
{% endblock inner_content %}
