{% extends 'email_alerts/base.html' %} 
{% block inner_content %}
<tbody>
  <tr>
    <td colspan="2">
      <h3 class="main__greet-text">Hi {{user_first_name}}</h3>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p style="margin-bottom: 1em;">
        Unfortunately, you were unable to reach your {{ tudo_goal_name }} goal target at your set duration date.
      </p>
      <p style="margin-bottom: 1em;">
        ☹️ That sucks, I know. We have just the right fix for this.
      </p>
      <p style="margin-bottom: 1em;">
        There’s no need to feel so bad about that, you have another chance to actually reach this goal!
      </p>
      <p style="margin-bottom: 1em;">
        🥳 Yes, another chance to achieve this goal.
      </p>
      <p style="margin-bottom: 1em;">
        <b>In 5 easy steps:</b>
        <ul style="color: #7594fb;">
          <li>Login to the Tudo app</li>
          <li>Go to ‘My Tudo’</li>
          <li>Click on the goal you weren’t able to meet</li>
          <li>Select ‘Edit goal’</li>
          <li>Change the goal duration.</li>
        </ul>
      </p>
      <p style="margin-bottom: 1em;">
        You can do this {{ user_first_name }}! Keep pushing! 💪
      </p>
    </td>
  </tr>
</tbody>
{% endblock inner_content %}

