{% extends 'email_alerts/base.html' %} 
{% block inner_content %}
  <tbody>
    <tr>
        <td colspan="2">
          <h3 class="main__greet-text">Congratulations {{user_first_name}}</h3>
        </td>
    </tr>
    <tr>
      <td colspan="2">
        <p style="margin-bottom: 1em;">
          You’re the real MVP, we have no choice but to stan! 🙌🏼.
        </p>
        <p style="margin-bottom: 1em;">
          From creating a Tudo list to actively working towards achieving those goals,
          your consistency is one to be reckoned with, you rock!
        </p>
        <p style="margin-bottom: 1em;">
          Good job {{ user_first_name }}, you have successfully smashed your goal!
        </p>
        <p style="margin-bottom: 1em;">
          Time to party, yours or ours? 😉.
        </p>
        <p style="margin-bottom: 1em;">
          Keep up the good work, Keep smashing those goals! 🥳
        </p>
      </td>
    </tr>
  </tbody>
{% endblock inner_content %}
