{% extends 'email_alerts/base.html' %}
{% load humanize %}
{% load template_extras %}
{% block inner_content %}
<tbody>
  <tr>
      <td>
        <h3 class="main__greet-text">Hi {{ user_first_name }},</h3>
      </td>
  </tr>
  <tr>
      <td>
        <p style="margin-bottom: 1em;">
          Your withdrawal of {{ currency }} {{ withdrawn_amount|convert_kobo_to_naira }} from your Tudo account was
          successful.
        </p>
      </td>
  </tr>
  <tr>
    <td>
      <p style="font-weight: 500; font-size: 17px; margin-top: 25px;">
        Contribution Details
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <tr>
        <td>
          <p style="display: inline-block; float: left; padding: 7px 0">
          Goal Name:
          </p>
          <p style="display: inline-block; float: right; padding: 7px 0">
          {{ goal_name }}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="display: inline-block; float: left; padding: 7px 0">
          Amount Withdrawable:
          </p>
          <p style="display: inline-block; float: right; padding: 7px 0">
          {{ currency }} {{ withdrawn_amount|convert_kobo_to_naira }}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="display: inline-block; float: left; padding: 7px 0">
          Bank Account Details:
          </p>
          <p style="display: inline-block; float: right; padding: 7px 0">
          {{ destination_account_number }} ({{ destination_bank_name }})
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="display: inline-block; float: left; padding: 7px 0">
          Service Charge:
          </p>
          <p style="display: inline-block; float: right; padding: 7px 0">
          {{ currency }} {{ service_charge|convert_kobo_to_naira }} ({{charge_rate}}%)
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="display: inline-block; float: left; padding: 7px 0; font-weight:600; font-size:16px">
          Net Amount Withdrawn:
          </p>
          <p style="display: inline-block; float: right; padding: 7px 0; font-weight:600; font-size:16px">
          {{ currency }} {{ net_amt_withdrawn|convert_kobo_to_naira }}
          </p>
        </td>
      </tr>
    </td>
  </tr>
  <tr>
    <td>
      <br />
      <p style="margin-bottom: 1em;">
        Feel free to contact support if you need any help.
      </p>
    </td>
  </tr>
<tbody>
{% endblock inner_content %}
